@media (min-width: 768px) {
  .header-md .navbar-nav > li > a {
    padding: 20px;
  }
  input.search-song {
  	min-width: 300px;
  }
  .vbox > header ~ section {
    top: 99px;
  }
  .vbox > header.header-md ~ section {
    top: 119px;
  } 
}

@media (max-width: 767px) {

  .ds-table {
      display: table-cell !important;
  } 
  .header {
    border-bottom: none !important;
  }
  footer.footer {
    position: fixed;
    bottom: 0;
  }
  .nav-user .avatar {
    display: inline-block;
  }
  .menus.open li {
      display: inline-block !important;
      width: auto;
  }
  .header-md .navbar-nav > li.menu > a {
    padding: 10px;
  }
  .aside a {
      color: #fff !important;
  }  
  .open, .open body {
      height: 100% !important;
      position: relative;
      min-height: auto !important;
  }
  .jp-controls > div  {
    width: auto;
  }
}