@import url('https://fonts.googleapis.com/css?family=Dosis');

h3.title{
    font-size: 18px;
}

p.menu-title {
    font-family: 'Dosis', sans-serif;
}

.bg-gradient {
    background: #1b1f2a;
    /* Old browsers */
    background: -moz-linear-gradient(top, #1b1f2a 0%, #2f1f2a 100%);
    /* FF3.6-15 */
    background: -webkit-linear-gradient(top, #1b1f2a 0%, #2f1f2a 100%);
    /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom, #1b1f2a 0%, #2f1f2a 100%);
    /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid: DXImageTransform.Microsoft.gradient( startColorstr='#1b1f2a', endColorstr='#2f1f2a', GradientType=0);
    /* IE6-9 */
}


.nav > li > a:hover,
.nav > li > a:focus {
    background-color: #20263c;
    color: #02abb6;
}

h3.title {
    font-family: 'Dosis', sans-serif;
    font-weight: 300;
}

a, .bg-black .text-lt {
    color: #02abb6;
}

.bg-info {
    color: #eaf6f9;
}

#toggle-header {
    border-top: 10px solid #89a92e;
    padding-top: 35px;
    padding-bottom: 39px;
}

div.user-detail {
    display: inline-block;
    margin-left: 10px;
    vertical-align: middle;
    color: #8bdeef;
}

.nav .open > a,
.nav .open > a:hover,
.nav .open > a:focus {
    background-color: #20263c;
}

.icon-search {
    background: none;
    border: none;
    font: initial;
    color: #02abb6;
}

input.search-song {
    background: #141015;
    border: none;
    font-size: 14px;
    border-radius: 5px;
    color: #fff;
}

span.input-group-btn {
    background: #141015;
}

form.search-header {
    padding-top: 20px;
}

.center {
    text-align: center;
}

.right {
    text-align: right;
}


/*Color menus*/

#home {
    border-top: 10px solid #89a92e;
}

#tophits {
    border-top: 10px solid #7f3710;
}

#newrelease {
    border-top: 10px solid #0b8f10;
}

#playlist-menu {
    border-top: 10px solid #b17610;
}

#mysong {
    border-top: 10px solid #0a807a;
}

p.menu-title {
    font-weight: 700;
    margin: 0;
    margin-top: 10px;
}

.header-md .navbar-nav > li.menu > a {
    padding: 20px 0;
}

.bg-black {
    background-color: #060404;
    color: #02abb6;
}

.text-pink {
    color: #fb9fea;
}

.bg-pink {
    background: #fb9fea;
}

.bg-blue {
    background: #5f5f5f;
}

img.icon {
    width: 17px;
}

img.icon-md {
    width: 25px;
    padding-bottom: 5px;
}

ul.inline {
    list-style: none;
    padding: 0;
    margin: 0;
}

ul.inline li {
    display: inline-block;
    margin: 0 10px;
}

hr.slice-nav {
    margin: 0;
    border-color: rgba(238, 238, 238, 0.18);
}

.bg-blur {
    -webkit-filter: blur(10px);
    -moz-filter: blur(10px);
    -o-filter: blur(10px);
    -ms-filter: blur(10px);
    filter: blur(10px);
}

.blur-bg {
    background: rgba(0, 0, 0, .9);
    -webkit-filter: blur(1px);
    -moz-filter: blur(1px);
    -o-filter: blur(1px);
    -ms-filter: blur(1px);
    filter: blur(1px);
    position: fixed;
    width: 100%;
    height: 65px;
    bottom: 0;
    left: 0;
    z-index: -1;
    opacity: 0.7;
}

.p-b {
    padding-bottom: 100px;
}


/*Pitch*/

.range-bar {
    border-radius: 0;
    height: 6px;
}

.pitch {
    width: 100px !important;
    padding: 0 25px;
    padding-top: 15px;
}

.range-min,
.range-max {
    background-size: 20px !important;
}

.range-bar.power-ranger {
    background-color: #6b6b6b;
}

.power-ranger .range-quantity {
    background-color: #02abb6;
}

.power-ranger .range-handle {
    background: url(../images/pitch-icon.png) 0 0 no-repeat;
    background-size: 25px !important;
    border-radius: 0;
    width: 17px;
    -webkitbox-shadow: none;
    box-shadow: none;
    margin-left: -10px;
}

.power-ranger .range-min {
    background: url(../images/pitch-b.png) no-repeat;
}

.power-ranger .range-max {
    background: url(../images/pitch-a.png) no-repeat;
}


/*Volume Bar*/

.jp-volume {
    width: 80px !important;
}

.range-quantity {
    background-color: #02abb6;
}

.range-handle {
    width: 20px;
    height: 20px;
    top: -8px;
}

.jp-volume-bar-value {
    height: 6px;
    background-color: #02abb6;
}

.jp-volume-bar {
    background: #181f24;
}

.add-ply {
    padding: 10px 5px;
}

.add-ply a {
    margin-right: 15px;
}

.pos-rlt:after {
    width: 100%;
    height: 100%;
    position: absolute;
    content: "";
    top: 0px;
    left: 0px;
    display: block;
    background: #fc00ff;
    /* fallback for old browsers */
    background: -webkit-linear-gradient(to bottom, #00dbde, #fc00ff);
    /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to bottom, #00dbde, #fc00ff);
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    opacity: 0.3;
}

.pos-rlt:hover:after {
    background: none;
}

div.jp-progress {
    width: 200px;
}

div.logo-footer {
    width: 80px;
    padding: 10px;
    text-align: right;
}

.bg-transparant {
    background: rgba(0, 0, 0, 0.9);
}

.jp-title {
    color: #fff;
}

.item-overlay {
  z-index: 1;
}

.dd-options.open ul {
    display: block !important;
    bottom: 60px;
    left: 0px;
    right: 0px;
}

.right10 {
    margin-right: 10px;
}

.navbar-brand img {
    max-height: 35px;
    vertical-align: middle;
    margin-top: 9px;
    margin-left: auto;
    margin-right: auto;
}

.block {
    display: block;
}
.jp-controls a {
    padding: 0;
}

.jp-current-time, .jp-duration {
    color: #02abb6;
}

.pitch span.block {
    color: #02abb6;
    margin-top: 5px;
}

.pt-20 {
    padding-top: 20px;
}

.white {
    color: #fff;
}

span a {
    color: #02abb6 !important;
}

span a:hover, span a:focus, span a:visited {
    color: #00c8d5 !important;
}

img.icon-lg {
    width: 4rem;
}

.bb-red {
    border-bottom: 5px solid #984746;
}

.bb-purple {
    border-bottom: 5px solid #473299;
}

.bb-green {
    border-bottom: 5px solid #06b21e;
}

.bg-brown {
    background-color: #312b2b;
}

a:hover {
    color: #b47aaa;
}

.inline-table {
    display: inline-table !important;
}

input.search-song::-webkit-input-placeholder {
  color: #6f6f6f;
}

.video-title {
    position: absolute;
    z-index: 999;
    color: #fff;
    display: block;
    bottom: 30px;
    text-align: left;
    left: 30px;
}

.owl-theme .owl-nav [class*=owl-] {
    background: none;
    font-size: 7rem;
    opacity: 0.6;
}

.owl-theme .owl-nav [class*=owl-]:hover {
    background: none;
    opacity: 1;
}

.owl-nav {
    position: absolute;
    top: 30%;
    width: 100%;
}

.owl-prev {
    left: 0;
    position: absolute;
}

.owl-next {
    right: 0;
    position: absolute;
}

.owl-dots {
    margin-top: 20px;
    position: relative;
    z-index: 0;    
}

.owl-nome .owl-dots .owl-dot span {
    width: 10px;
    height: 5px;
    margin: 5px 7px;
    transition: opacity .2s ease;
    border-radius: 30px;
}

.owl-nome .owl-dots .owl-dot.active span, .owl-theme .owl-dots .owl-dot:hover span {
    background: #02ABB6;
    width: 20px;
    -webkit-transition-property: width; /* Safari */
    -webkit-transition-duration: 0.3s; /* Safari */
    transition-property: width;
    transition-duration: 0.3s;
}


div.pitch-control {
    padding: 10px 15px;
    border-radius: 15px;
}

a.btn.icon-footer {
    margin-top: 15px;
}

#pitch-vertical {
    position: absolute;
    top: -115px;
}

#pitch-vertical {
    display: none;
}

.cover-song {
    width: 50px;
    float: left
}

.cover-song img {
    display: block
}

.jp-controls .now-playing  {
  text-align: left;
  padding: 10px;
}     

.song-title {
    margin-left: 60px;
    line-height: 16px;
}

.song-title span {
    font-size: 10px;
    color: #6b6b6b;
}

span.name-song {
    font-size: 14px;
    display: block;
    color: #02abb6;
}

span.name-artist {
    font-size: 12px;
    color: #b47aaa;
}

.now-playing:hover, .now-playing:focus {
    background: #0c0c0c;
}

.ml-20 {
    margin-left: 20px;
}

.icon-now {
    display: inline;
    margin-left: 55px;
    vertical-align: middle;
    position: absolute;
    top: 30px;
}

video.video-play {
    width: 100%;
    height: auto;
}

img.ply {
    width: 80px !important;
}

.ply-info {
    margin-left: 100px;
}

h3.ply-song {
    font-family: 'Dosis', sans-serif;
    font-weight: 300;
    color: #fff;    
}

h3.ply-song a {
    color: #fff !important;
    font-size: 18px;
}

p.ply-artist {
    color: #6e8081;
}

ul.ply-more {
    padding-left: 0;
    list-style: none;
}

ul.ply-more li {
    display: inline;
    color: #02abb6;
    padding-right: 15px;
}

.bg-black a {
    color: #fff;
}

ul.ply-more li i {
    color: #3f8dc5;
}

.text-danger {
    color: #f05050 !important;
}

.playlist-item {
    padding-bottom: 5px;
    border-bottom: 2px solid #111;
}

span.caret-up {
    position: absolute;
    top: -27px;
    right: 0;
    font-size: 3rem;
    color: #1b1f2a;

}

.options ul li a {
    color: #fff;
    font-family: 'Dosis', sans-serif;
}

.options ul.dropdown-menu.bg-gradient {
    width: 180px;
}

li.menu-item {
    padding: 5px 0;
    border-bottom: 1px solid #3c3c3c;
}

li.menu-item a:hover, li.menu-item:hover  {
    background: #1b151a !important;
    color: #fff;
}

.playing {
    position: relative;
    height: 500px;
    background: linear-gradient( rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7) ), url(../images/pl2.jpg) no-repeat top;
    background-size: cover;
}

div#waveform {
    padding-top: 25%;
}

div.bottom-control-ply {
    position: absolute;
    bottom: 20px;
    width: 100%;
}

.bottom-control-ply a {
    margin-right: 15px;
    font-size: 18px;
}