.bg-gradient {
    background: #1b1f2a;
    /* Old browsers */
    background: -moz-linear-gradient(top, #1b1f2a 0%, #2f1f2a 100%);
    /* FF3.6-15 */
    background: -webkit-linear-gradient(top, #1b1f2a 0%, #2f1f2a 100%);
    /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom, #1b1f2a 0%, #2f1f2a 100%);
    /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid: DXImageTransform.Microsoft.gradient( startColorstr='#1b1f2a', endColorstr='#2f1f2a', GradientType=0);
    /* IE6-9 */
}

.header {
    border-bottom: 15px solid #1e1618 !important;
}

.nav > li > a:hover,
.nav > li > a:focus {
    background-color: #20263c;
    color: #02abb6;
}

a,
.bg-black .text-lt {
    color: #02abb6;
}

.bg-info {
    color: #eaf6f9;
}

#toggle-header {
    border-top: 10px solid #89a92e;
    padding-top: 35px;
    padding-bottom: 39px;
}

div.user-detail {
    display: inline-block;
    margin-left: 20px;
    vertical-align: middle;
    color: #8bdeef;
}

.nav .open > a,
.nav .open > a:hover,
.nav .open > a:focus {
    background-color: #20263c;
}

.no-background {
    background: none;
    border: none;
}

input.search-song {
    background: none;
    border: none;
    border-bottom: 1px solid #2899d4;
    font-size: 18px;
    color: #fff;
}

form.search-header {
    padding-top: 20px;
}

.center {
    text-align: center;
}

.right {
    text-align: right;
}


/*Color menus*/

#home {
    border-top: 10px solid #89a92e;
}

#tophits {
    border-top: 10px solid #7f3710;
}

#newrelease {
    border-top: 10px solid #0b8f10;
}

#playlist-menu {
    border-top: 10px solid #b17610;
}

#mysong {
    border-top: 10px solid #0a807a;
}

p.menu-title {
    font-weight: 700;
    margin: 0;
    margin-top: 10px;
}

.header-md .navbar-nav > li.menu > a {
    padding: 20px 0;
}

.bg-black {
    background-color: #060404;
    color: #02abb6;
}

.text-pink {
    color: #fb9fea;
}

.bg-pink {
    background: #fb9fea;
}

.bg-blue {
    background: #5f5f5f;
}

img.icon {
    width: 17px;
}

img.icon-md {
    width: 25px;
}

ul.inline {
    list-style: none;
    padding: 0;
    margin: 0;
}

ul.inline li {
    display: inline-block;
    margin: 0 10px;
}

hr.slice-nav {
    margin: 0;
    border-color: rgba(238, 238, 238, 0.18);
}

.bg-blur {
    -webkit-filter: blur(10px);
    -moz-filter: blur(10px);
    -o-filter: blur(10px);
    -ms-filter: blur(10px);
    filter: blur(10px);
}

.blur-bg {
    background: rgba(0, 0, 0, .9);
    -webkit-filter: blur(1px);
    -moz-filter: blur(1px);
    -o-filter: blur(1px);
    -ms-filter: blur(1px);
    filter: blur(1px);
    position: fixed;
    width: 100%;
    height: 65px;
    bottom: 0;
    left: 0;
    z-index: -1;
    opacity: 0.7;
}

.p-b {
    padding-bottom: 60px;
}


/*Pitch*/

.range-bar {
    border-radius: 0;
    height: 6px;
}

.pitch {
    width: 125px !important;
    padding: 0 25px;
}

.range-min,
.range-max {
    background-size: 15px !important;
}

.range-bar.power-ranger {
    background-color: #6b6b6b;
}

.power-ranger .range-quantity {
    background-color: #02abb6;
}

.power-ranger .range-handle {
    background: url('../images/pitch.png') 0 0 no-repeat;
    background-size: 8px !important;
    border-radius: 0;
    width: 8px;
    -webkitbox-shadow: none;
    box-shadow: none;
}

.power-ranger .range-min {
    background: url(../images/pitch-b.png) 7px 2px no-repeat;
}

.power-ranger .range-max {
    background: url(../images/pitch-a.png) 0 2px no-repeat;
}


/*Volume Bar*/

.jp-volume {
    width: 80px !important;
}

.range-quantity {
    background-color: #02abb6;
}

.range-handle {
    width: 20px;
    height: 20px;
    top: -8px;
}

.jp-volume-bar-value {
    height: 6px;
    background-color: #02abb6;
}

.jp-volume-bar {
    background: #181f24;
}

.add-ply {
    padding: 10px 5px;
}

.add-ply a {
    margin-right: 15px;
}

.pos-rlt:after {
    width: 100%;
    height: 100%;
    position: absolute;
    content: "";
    top: 0px;
    left: 0px;
    display: block;
    background: #fc00ff;
    /* fallback for old browsers */
    background: -webkit-linear-gradient(to bottom, #00dbde, #fc00ff);
    /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to bottom, #00dbde, #fc00ff);
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    opacity: 0.5;
}

.pos-rlt:hover:after {
    background: none;
}

div.jp-progress {
    width: 200px;
}

div.logo-footer {
    width: 80px;
    padding: 10px;
    text-align: right;
}

.bg-transparant {
    background: rgba(0, 0, 0, 0.9);
}

.jp-title {
    color: #fff;
}

.item-overlay {
  z-index: 1;
}