@media (min-width: 768px) {
  .header-md .navbar-nav > li > a {
    padding: 20px;
  }
  input.search-song {
  	min-width: 300px;
  }
  .vbox > header ~ section {
    top: 99px;
  }
  .jp-playlist.open ul {
      left: 80rem;
  }  
}

@media (max-width: 767px) {

<<<<<<< HEAD
  html, body {
    background: #060404;
  }

  input.search-song {
    font-size: 16px;
    width: auto;
    font-weight: 500;
  }

  span.input-group-btn {
      top: -5px;
  }

  form.search-header {
    padding-top: 0;
    box-shadow: none;
    margin-right: -15px;
    margin-bottom: 0 !important; 
    margin-left: 0; 
    margin-top: 3px;
    border-top: none; 
    border-bottom: none;   
  }

  .navbar-brand {
    line-height: 1px;
    padding: 0 50px;
  }

  .navbar-brand img {
    margin-top: 15px;
    width: 20px;
  }

=======
>>>>>>> 98cdfb0be9cfed9d13781bcc35921471781cbd9a
  .p-b {
      padding-bottom: 90px;
  }

  div#pitch-control {
    margin-top: 20px;
  }

  .jp-controls .now-playing {
    width: 140px !important;
  }

  a.btn.icon-footer {
      margin-top: 5px;
  }
  div#pitch-control {
      margin-top: 20px;
  }
  .navbar-left {
      overflow-y: visible;
  }

  h3.title {
      font-size: 20px;
  }
  .owl-theme .owl-nav [class*=owl-] {
      font-size: 3rem;
  }

  .ds-table {
      display: table-cell !important;
  } 
  .header {
    border-bottom: none !important;
  }
  footer.footer {
    position: fixed;
    bottom: 0;
    z-index: 9;
  }
  .nav-user .avatar {
    display: inline-block;
  }
  .menus.open li {
      display: inline-block !important;
      width: auto;
  }
  .header-md .navbar-nav > li.menu > a {
    padding: 10px;
  }
  .aside a {
      color: #fff !important;
  }  
  .open, .open body {
      height: 100% !important;
      position: relative;
      min-height: auto !important;
  }
  .jp-controls > div  {
    width: auto;
  }
  h3.title span a {
      font-size: 16px;
  }  
}